*{
    background-color: #303030;
    font-family: "inter";
    margin: 0px;

}
#hider {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#hider div a {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-bottom: 2px #BABABA;
}
#hider div a:hover{

    color: #0c70f2;
}
#hider button:hover{
    color: #303030;
    cursor: pointer;
    
}
#hider button{
    margin-right: 3%;
    background-color: #0c70f2;
    border: 0px;
    height: 39px;
    width: 80px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.50);
}
#sub{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 30px; 
    
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    
}
header{
    text-align: center;
}
header h1 {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
}
header h2 {
    font-size: 40px;
    font-style: 700;
}
header .invert{
    background-color: black;
}
#formulario{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
   
    background-color: #EAECE5;
    border: 0px;

}
button{
    background-color: #247BA0;
    color: white;
    border: 0px;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-weight: bolder;
    margin-top: 30px;
    cursor: pointer;
}
button:hover{
    background-color:#0c70f2;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #474646;
    transition-duration: 0.7s;
}